<% title(@project.name, "Projects")  %>

<h2><%= yield(:title) %></h2>
<%= @project.name %>
<%= link_to "Edit Project", edit_project_path(@project) %>

<%= link_to "Delete Project", @project, :method => :delete,
 :confirm => "Are you sure you want to delete this project?" %>
http://andyhill.us/codeblog/2012/10/14/more-rails-3-in-action-fun-chapter-4/ 
http://agile-itspeople.blogspot.de/2011/10/when-cucumber-is-mightier-than-pen.html
